<!DOCTYPE html>{% load staticfiles %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>edSim</title>
    <link rel="stylesheet" href="{% static 'resources/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/font-awesome.min.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'resources/css/normalize.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'resources/css/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <div class="bodyWrap">
        <div class="full-height">
            <header>
                <div class="intro">
                    <div class="container top-pane">
                        <div class="row">
                            <div class="col-lg-6">
                                <email><i class="fa fa-paper-plane"></i><a href="mailto:edsim@bk.ru">edsim@bk.ru</a>
                                </email>
                                <phone><i class="fa fa-phone-square"></i><span>+7 (999) 000-00-00</span>
                                </phone>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-right-icons text-right">
                                    <a class="feature-icon">
                                        <i class="fa fa-map-marker"></i><span>Контакты</span>
                                    </a>
                                    <a href="login.html" class="feature-icon">
                                        <i class="fa fa-user"></i><span>Войти</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav class="navbar">
                        <div class="logo">
                            <a class="navbar-brand">ed<span>Sim</span></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a>Главная</a>
                            </li>
                            <li><a href="#">Компания</a>
                            </li>
                            <li><a href="#">Руководство</a>
                            </li>
                            <li><a href="#">Блог</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="home-main">
                        <div class="row text-center">
                            <div class="col-lg-12">

                                <h1>Hello, world!</h1>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h4>
                                <br>
                                <a href="registration.html" class="button">РЕГИСТРАЦИЯ</a>
                                <a href="login.html" class="button-bordered">ВХОД</a>

                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="features-area text-center">
                <div class="container">
                    <h1>Если <b>Вы</b></h1>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h4>
                    <div class="separator"></div>
                    <div class="row feature-section text-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <span class="circle">
                                      <i class="fa fa-university fa-4x"></i>
                                    </span>
                                <h3>Учебное заведение</h3>
                                <div class="separator-solid"></div>
                                <p>Хотите организовать эффективное практико-ориентированное обучение и привлечь студентов</p>
                                <br>
                                <a>Подробнее <i class="pl-5 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <span class="circle">
                                    <i class="fa fa-graduation-cap fa-4x"></i>
                                  </span>
                                <h3>Студент или профессионал</h3>
                                <div class="separator-solid"></div>
                                <p>Хотите пройти курс одного из ведущих экономических Университетов и получить сертификат, который котируется среди работодателей</p>
                                <a>Подробнее <i class="pl-5 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <span class="circle">
                                    <i class="fa fa-building fa-4x"></i>
                                  </span>
                                <h3>Компания</h3>
                                <div class="separator-solid"></div>
                                <p>Хотите организовать эффективный дистанционный отбор или практико-ориентированный тренинг без крупных затрат времени и ресурсов</p>
                                <a>Подробнее <i class="pl-5 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <section>
          <div class="zone text-center">
            <div class="row">
              <div class="col-md-9 text-left">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Ut enim ad minim veniam Ut enim ad minim veniam
              </div>
              <div class="col-md-3">
                <a href="" class="button">Заявка на Бета-тест</a>
              </div>
            </div>
          </div>
        </section>

        <footer>
            <div class="container text-center">
                <p>edSim &copy; 2015</p>
            </div>
        </footer>
    </div>

    <script src="{% static 'resources/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'resources/js/bootstrap.min.js' %}"></script>


</body>

</html>
