<!DOCTYPE html>{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="content -type" content="text/html; charset=utf-8">
		<title>edSim</title>
		<link rel="stylesheet" type="text/css" href="{% static 'extjs/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'resources/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'js/resources/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'extjs/build/packages/sencha-charts/build/crisp/resources/sencha-charts-all.css' %}"/>
	</head>
	<body>
		<script src="{% static 'extjs/build/ext-all.js' %}"></script>
        <script src="{% static 'extjs/build/packages/sencha-charts/build/sencha-charts.js' %}"></script>
	    <script src="/remoting/provider.js"></script>
		<script src="{% static 'js/app/main.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/app/locale/ext-lang-ru.js' %}"></script>
	</body>
</html>
