<!DOCTYPE html>{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="content -type" content="text/html; charset=utf-8">
		<title>Регистрация</title>
		<link rel="stylesheet" type="text/css" href="{% static 'extjs/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'resources/css/font-awesome.min.css' %}" />
	</head>
	<body>

		<script type="text/javascript" src="{% static 'extjs/build/ext-all.js' %}"></script>
	  <script type="text/javascript" src="/remoting/provider.js"></script>
		<script type="text/javascript" src="{% static 'js/app/registration.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/app/locale/ext-lang-ru.js' %}"></script>
	</body>
</html>
