*.pyc
*.fuse*
*~
*.save
*.Trash*
*.DS*
*._.DS*
*._.*
*.apdisk
*._*
*.orig*

# Ignore PyCharm files
.idea*

settings.py

# Ignore local settings
bsg/local*

# Ignore extjs lib
static/extjs

./dist
./MANIFEST
