{% extends "main.html" %}

{% block title %}Компания{% endblock %}

{% block menu %}
				<ul>
					<li>
						<a href="main.html"><i class="fa fa-home"></i>
							<span>Главная</span>
						</a>
					</li>
					<li class="highlight ">
						<a><i class="demo-icon icon-building"></i>
							<span>Компания</span>
							<span class="current-page"></span>
						</a>
					</li>
					<li>
						<a href="product.html"><i class="demo-icon icon-box"></i>
							<span>Продукт</span>
						</a>
					</li>
					<li>
						<a href="finance.html"><i class="demo-icon icon-money"></i>
							<span>Финансы</span>
						</a>
					</li>
					<li class="has-sub">
						<a><i class="fa fa-pie-chart"></i>
							<span>Маркетинг</span>
						</a>
						<ul>
							<li>
								<a href="marketing.html" data-original-title="" title="">
									<span>Анализ рынка</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="hr.html"><i class="fa fa-users"></i>
							<span>HR</span>
						</a>
					</li>
					<li>
						<a href="production.html"><i class="demo-icon icon-cubes"></i>
							<span>Производство</span>
						</a>
					</li>
					</ul>
{% endblock %}

{% block page-title %}Компания{% endblock %}
{% block user-statistics %}  {% endblock user-statistics %}
{% block main-section %}
    <h3>Бизнес Модель</h3>
    <hr>
<div class="row business__section">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые партнеры</h2>
                <small>Выберите ключевых партнеров</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой партнер">

                <ul class="alert">
                    <li>
                    <div data-alert class="alert-box">
                        text
                        <a href="#" class="close">&times;</a>
                    </div>
                    </li>

                    <li>
                    <div data-alert class="alert-box">
                        text
                        <a href="#" class="close">&times;</a>
                    </div>
                    </li>

                </ul>

            </div>
        </div>
			</div>
      <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>
        <div class="col-lg-3">
        	<div class="card">
            <div class="card-header">
                <h2>Ключевые партнеры</h2>
                <small>Выберите ключевых партнеров</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой партнер">

                <ul class="alert">
                    <li>
                    <div data-alert class="alert-box">
                        text
                        <a href="#" class="close">&times;</a>
                    </div>
                    </li>

                    <li>
                    <div data-alert class="alert-box">
                        text
                        <a href="#" class="close">&times;</a>
                    </div>
                    </li>

                </ul>

            </div>
				</div>
			</div>
        <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>
         <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>
         <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>

        <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h2>Ключевые ресурсы</h2>
                <small>Выберите ключевые ресурсы</small>
            </div>
            <div class="card-body">
                <input type="text" placeholder="Ключевой ресурс">
            </div>
        </div>
        </div>

</div>

{% endblock main-section %}
