{% extends "main.html" %}

{% block title %}Финансы{% endblock %}

{% block menu %}
<ul>
	<li>
		<a href="main.html"><i class="fa fa-home"></i>
			<span>Главная</span>
		</a>
	</li>
	<li>
		<a href="company.html"><i class="demo-icon icon-building"></i>
			<span>Компания</span>
		</a>
	</li>
	<li>
		<a href="product.html"><i class="demo-icon icon-box"></i>
			<span>Продукт</span>
		</a>
	</li>
	<li class="highlight">
		<a><i class="demo-icon icon-money"></i>
			<span>Финансы</span>
			<span class="current-page"></span>
		</a>
	</li>

	<li class="has-sub">
		<a><i class="fa fa-pie-chart"></i>
			<span>Маркетинг</span>
		</a>
		<ul>
			<li>
				<a href="marketing.html" data-original-title="" title="">
					<span>Анализ рынка</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="hr.html"><i class="fa fa-users"></i>
			<span>HR</span>
		</a>
	</li>
	<li>
		<a href="production.html"><i class="demo-icon icon-cubes"></i>
			<span>Производство</span>
		</a>
	</li>
	</ul>
{% endblock %}

{% block page-title %}Финансы{% endblock %}
{% block user-section-info %}
<div class="row user-section-info">
<div class="col-lg-12">
		<h3>Данные для инвесторов</h3>
		<hr>
		<p>
			В данном разделе Вы формируете мини-презентацию для инвесторов с целью привлечения их средств. Главная для Вас задача - представить граммотно оформленную и нужную информацию, способную их заинтересовать. Помните: инвесторы - эксперты, которые имеют большой опыт в оценке инвестиционных проектов. Поэтому будьте честны в предоставляемой информации: ложь может обернуться неудачей в привлечении капитала
		</p>
</div>
</div>
{% endblock %}
{% block main-section %}
<!--<form action="finance" method="post">
    {% csrf_token %}
    <select id="id_user" name="user">
        <option value="" selected="selected">{{username}}</option>
    </select>
<div class="row">
	<div class="col-lg-12">
			<div class="card">
					<div class="card-header">
							<h2>Идея и продукт</h2>
					</div>
					<div class="card-body">
						<textarea cols="40" id="id_idea_and_product" name="idea_and_product" rows="10"></textarea>
					</div>
			</div>
	</div>
	<div class="col-lg-12">
			<div class="card">
					<div class="card-header">
							<h2>Емкость рынка</h2>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-4">
								<div class="selection-box">
									<div class="selection-box-top">
										<span>ТАМ</span>
									</div>
									<div class="selection-box-bot">
										  <select id="id_TAM_field" name="TAM_field" class="form-control">
                                                <option value="L">Бюджетный</option>
                                                <option value="M">Средний</option>
                                                <option value="P">Премиальный</option>
                                        </select>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="selection-box">
									<div class="selection-box-top">
										<span>SAM</span>
									</div>

									<div class="row">
										<div class="col-lg-6">
											<div class="selection-box-bot" style="margin-right:-15px">

                                        <select id="id_SAM_field" name="SAM_field" class="form-control">
                                            <option value="R">Россия</option>
                                            <option value="U">США</option>
                                            <option value="C">Китай</option>
                                        </select>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="selection-box-bot" style="margin-left:-15px">
											<input id="id_SAM_number" name="SAM_number" type="number" class="form-control"/>
										</div>
										</div>
									</div>


								</div>
							</div>
							<div class="col-lg-4">
								<div class="selection-box">
									<div class="selection-box-top">
										<span>SOM</span>
									</div>
									<div class="selection-box-bot">
										<input class="form-control" id="id_SOM_number" name="SOM_number" type="number" />
									</div>
								</div>
							</div>
						</div>
						<span>Представьте расчеты</span>
						<br>
							<textarea cols="40" id="id_market_capacity" name="market_capacity" rows="10"></textarea>
					</div>
			</div>
	</div>

	<div class="col-lg-6">
			<div class="card">
					<div class="card-header">
							<h2>Ваши конкуренты</h2>
							<small>Опишите Ваших конкурентов, указав на недостатки  продуктов каждого, а также Ваши конкурентные преимущества в данном ключе, подчеркнув уникальность Вашего товара.</small>
					</div>
					<div class="card-body">
						<textarea cols="40" id="id_competitors" name="competitors" rows="10"></textarea>
					</div>
			</div>
	</div>

	<div class="col-lg-6">
			<div class="card">
					<div class="card-header">
							<h2>Основные затраты</h2>
							<small>Перечислите основные направления использования инвестиций, подробно описав их, а также обосновав их необходимость</small>
					</div>
					<div class="card-body">
						<textarea cols="40" id="id_costs" name="costs" rows="10"></textarea>
					</div>
			</div>
	</div>

	<div class="col-lg-12">
			<div class="card">
					<div class="card-header">
							<h2>Необходимые инвестиции</h2>
					</div>
					<div class="card-body">
						<textarea cols="40" id="id_investements" name="investements" rows="10"></textarea>
					</div>
			</div>
	</div>
	<input class="btn" type="submit" name="name" value="Submit">
</form>-->
	<form action="finance" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" name="name" value="Submit">
    </form>

{% endblock %}
