<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'BSG/css/alertify/alertify.core.css' %}" rel="stylesheet">
    <link href="{% static 'BSG/css/alertify/alertify.default.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'BSG/css/task.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet" type="text/css">


</head>

<body>
    <header>
        <!-- Logo starts -->
        <a class="mainlogo"></a>
        <!-- Logo ends -->

        <!-- Mini right nav starts -->
        <div class="pull-right">
            <ul id="mini-nav" class="clearfix">
                <li class="list-box hidden-lg hidden-md hidden-sm" id="mob-nav">
                    <a href="#">
                        <i class="fa fa-reorder"></i>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Mini right nav ends -->

    </header>
    <!-- Header ends -->

    <!-- Left sidebar starts -->
    <aside id="sidebar">

        <!-- Current User Starts -->
        <div class="current-user">
            <span id="username-login">{{ first_name }} {{ last_name }}</span>
            <br>
            <span>Группа 834</span>
            <div class="user-settings">
                <button id="user-buttons" class="button button-large button-plain button-border button-circle">
                    <i class="fa fa-users"></i>
                </button>
                <button id="user-buttons" class="button button-large button-plain button-border button-circle">
                    <i class="fa fa-cog"></i>
                </button>
                <a href="/auth/logout/">
                    <button id="user-buttons" class="button button-large button-plain button-border button-circle">
                        <i class="fa fa-sign-out"></i>
                    </button>
                </a>

            </div>
        </div>
        <!-- Current User Ends -->

        <!-- Menu start -->
        <div id='menu'>
            {% block menu %}
            <ul>
                <li class="highlight ">
                    <a><i class="fa fa-home"></i>
							<span>Главная</span>
							<span class="current-page"></span>
						</a>
                </li>
                <li>
                    <a href="company.html"><i class="demo-icon icon-building"></i>
							<span>Компания</span>
						</a>
                </li>
                <li>
                    <a href="product.html"><i class="demo-icon icon-box"></i>
							<span>Продукт</span>
						</a>
                </li>
                <li>
                    <a href="finance.html"><i class="demo-icon icon-money"></i>
							<span>Финансы</span>
						</a>
                </li>
                <li class="has-sub">
                    <a><i class="fa fa-pie-chart"></i>
							<span>Маркетинг</span>
						</a>
                    <ul>
                        <li>
                            <a href="marketing.html" data-original-title="" title="">
                                <span>Анализ рынка</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="hr.html"><i class="fa fa-users"></i>
							<span>HR</span>
						</a>
                </li>
                <li>
                    <a href="production.html"><i class="demo-icon icon-cubes"></i>
							<span>Производство</span>
						</a>
                </li>
            </ul>
            {% endblock %}
        </div>
        <!-- Menu End -->

    </aside>
    <!-- Left sidebar ends -->

    <!-- Dashboard Wrapper starts -->
    <div class="dashboard-wrapper">
        <!-- Top Bar starts -->
        <div class="top-bar">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <span class="menu-toggle hidden-xs">
						<i class="fa fa-bars"></i>
			        </span>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-10">
                    <div class="term-status">
                        <span class="term">
						<span>Квартал {{ term }}</span><span class="outline">Анализ рынка</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-2">
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Top Bar ends -->
        <!-- Main Container starts -->

        <div class="main-container-full">
            {% block user-section-info %}
            <div class="row user-section-info">
                <div class="col-lg-12">
                    <h3>Статистика</h3>
                </div>
            </div>
            {% endblock %}
            <div id="wrapper">
                <div class="container-fluid">
                    <div class="main-section">
                        {% block main-section %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h2>Показатели</h2>
                                        <small>Ключевые показатели деятельсности</small>
                                    </div>
                                    <div class="card-body">
                                        {% if term == 1 %} Один контент
                                        <br>
                                        <form class="term-end" method="post" action="/base/main">
                                            {% csrf_token %}
                                            <input id="id_term" name="term" type="number" value="2">
                                            <span class="button-wrap">
			   				    													<input class="button button-pill button-raised button-primary" type="Submit" value="Завершить Квартал">
			   				 														</span>
                                        </form>

                                        {% elif term == 2 %} Другой контент
                                        <form method="post">
                                            {% csrf_token %}
                                            <input id="id_term" name="term" type="number" value="3">
                                            <input type="Submit" value="Submit">
                                        </form>
                                        {% elif term == 3 %} Третий контент
                                        <form method="post">
                                            {% csrf_token %}
                                            <input id="id_term" name="term" type="number" value="3">
                                            <input type="Submit" value="Submit">
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>



				<!-- Right sidebar starts -->
        <div id="right-sidebar">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span>Задачи</span></a></li>
                <!--<li><a href="#profile" data-toggle="tab">Активность</a></li>-->

            </ul>

            <!-- Right tab starts -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <h5>План действий</h5>
                    <section class="todo">
                        <fieldset class="todo-list">
                            <label class="todo-list-item">
                                <input type="checkbox" class="todo-list-cb" checked disabled="disabled">
                                <span class="todo-list-mark"></span>
                                <span class="todo-list-desc">Выбрать компоненты</span>
                            </label>
                            <label class="todo-list-item">
                                <input type="checkbox" class="todo-list-cb" checked disabled="disabled">
                                <span class="todo-list-mark"></span>
                                <span class="todo-list-desc">Установить маркетинговый бюджет</span>
                            </label>
                            <label class="todo-list-item">
                                <input type="checkbox" class="todo-list-cb" disabled="disabled">
                                <span class="todo-list-mark"></span>
                                <span class="todo-list-desc">Нанять сотрудников</span>
                            </label>
                        </fieldset>
                    </section>
                </div>
            </div>
					<!-- Right tab ends -->
        </div>
				<!-- Right sidebar ends -->

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="{% static 'js/scrollup/jquery.scrollUp.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
