{% extends "main.html" %}

{% block title %}Маркетинг{% endblock %}

{% block menu %}
	<ul>
		<li>
			<a href="main.html"><i class="fa fa-home"></i>
				<span>Главная</span>
			</a>
		</li>
		<li>
			<a href="company.html"><i class="demo-icon icon-building"></i>
				<span>Компания</span>
			</a>
		</li>
		<li>
			<a href="product.html"><i class="demo-icon icon-box"></i>
				<span>Продукт</span>
			</a>
		</li>
		<li>
			<a href="finance.html"><i class="demo-icon icon-money"></i>
				<span>Финансы</span>
			</a>
		</li>
		<li class="has-sub highlight active">
			<a><i class="fa fa-pie-chart"></i>
				<span>Маркетинг</span>
			</a>
			<ul style="display:block">
				<li>
					<a href="marketing.html" data-original-title="" title="">
						<span>Анализ рынка</span>
						<span class="current-page"></span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="hr.html"><i class="fa fa-users"></i>
				<span>HR</span>
			</a>
		</li>
		<li>
			<a href="production.html"><i class="demo-icon icon-cubes"></i>
				<span>Производство</span>
			</a>
		</li>
		</ul>
		{% endblock %}
{% block page-title %}Маркетинг{% endblock %}
