{% extends "main.html" %}

{% block title %}Продукт{% endblock %}


{% block menu %}
	<ul>
		<li>
			<a href="main"><i class="fa fa-home"></i>
				<span>Главная</span>
			</a>
		</li>
		<li>
			<a href="company.html"><i class="demo-icon icon-building"></i>
				<span>Компания</span>
			</a>
		</li>
		<li class="highlight">
			<a><i class="demo-icon icon-box"></i>
				<span>Продукт</span>
				<span class="current-page"></span>
			</a>
		</li>
		<li>
			<a href="finance.html"><i class="demo-icon icon-money"></i>
				<span>Финансы</span>
			</a>
		</li>
		<li class="has-sub">
			<a><i class="fa fa-pie-chart"></i>
				<span>Маркетинг</span>
			</a>
			<ul>
				<li>
					<a href="marketing.html" data-original-title="" title="">
						<span>Анализ рынка</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="hr.html"><i class="fa fa-users"></i>
				<span>HR</span>
			</a>
		</li>
		<li>
			<a href="production.html"><i class="demo-icon icon-cubes"></i>
				<span>Производство</span>
			</a>
		</li>
</ul>

{% endblock %}

{% block page-title %}Продукт{% endblock %}
