{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
		<style>
		.main-logo {
		    margin:15px 0 0 -5px;
		    }
		.mainlogo {
		    margin:0;

		    }
		.container{
		    margin:0 auto;
		    text-align: center;
		    }

		 body {
		  background:white;
		  }
		  .login-wrapper {
		      max-width:450px;
                margin: 0 auto;
            border:1px solid #ccc;
		  }
		  input[type="submit"], .form-control {
		      border-radius:3px;
		      border: 1px solid #d9d9d9 !important;
		  }
		</style>
		<title>Авторизация</title>
		<!--HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<header>
	<div class="container">
	    <div class="main-logo">
		<a class="mainlogo" href="/"></a>
		</div>
	</div>

	</header>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-push-4 col-md-4 col-sm-push-3 col-sm-6 col-sx-12">
					<div class="login-container">
					<div class="login-wrapper">
							<div id="login" class="show">
								<div class="login-header">
									<h4>Авторизация</h4>
								</div>
						<form action="login.html" method="post">
							{% csrf_token %}
							<label class="control-label" for="username"></label>
								<input class="form-control" type="text" name="username" id="username" placeholder="Имя пользователя">
							<label class="control-label" for="password"></label>
								<input class="form-control" type="password" name="password" id="password" placeholder="Пароль">
							{% if login_error %}
							<label for="password" class="warningmess">{{ login_error }}</label>
							{% endif %}
    						<input type="submit" value="Войти" class="btn btn-danger btn-lg btn-block" style="margin-top:20px">
    		<!--<div style="margin-top: 30px;"><a class="reg_span" href="/auth/register/">Регистрация</a></span></div>-->
		</form>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	</body>
</html>
