@import url(http://webfonts.ru/import/clearsans.css);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

@font-face {
  font-family: 'DIN-Pro';
  src: url(../fonts/DINPro-Bold_13934.ttf);
}

html, body, .x-body {
  font-family: 'Clear Sans';
}

body.x-border-layout-ct, div.x-border-layout-ct,
.x-border-layout-ct {
  background: #f3f3f4;
}

.x-btn-inner-default-toolbar-small {
  font-family: 'Clear Sans';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.x-btn-default-toolbar-small {
  background-color: transparent;
  border: 0;
}

.x-btn-default-toolbar-small:hover {
  background-color: transparent;
  border: 0;
}

.x-btn-icon-el-default-toolbar-small.x-btn-glyph {
  opacity: 1;
  color:#fff;
}

.label-system {
  font-size: 36px;
  font-family: 'DIN-Pro';
  color: #fff;
}

.main_title {
  color: rgb(10, 180, 218);
}

.button-disable .x-btn-inner {
  color:#fff;
}


.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
background: transparent;
opacity: 1;
}

.button-disable {
    cursor: default;
}

.table-list {
    padding: 20px 0;
    background: #2f4050;
    border: 0;
}

.x-panel-body-default {
  border: 0;
}

.x-view-item-focused {
  outline: 0 !important;
}

.logout-button,
.logout-button:hover {
  border-left: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
}

.logout-button:focus,
.logout-button:active {
  background: transparent !important;
  box-shadow: none !important;
}

.x-toolbar-default {
  background: #2e3537;
  border: 0;
  padding: 0;
}

.table-list-item {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a7b1c2;
    cursor: pointer;
    font-family: 'DIN-Pro';
}

.table-list .x-item-selected, .x-item-selected:hover {
    padding: 10px 11px;
    border-left: 4px solid #ED5454;
    font-weight: bold;
    color: #fff;
    background: #293846;
}

.x-toolbar-default .x-toolbar-separator-horizontal {
  border: 1px solid #fff;
  height: 25px;
}

.panel-top {
  text-align: center !important;
  background: #ccc;
}

.table-list-item-hover {
    background-color: #5e748a;
}

.x-splitter {
  display: none;
}

.x-dashboard-column-first {
  /*padding-right: 20px;*/
  padding-left: 15px;
}

.x-dashboard-column-last {
  padding-right: 0px;
}

.x-dashboard-column {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-area {
  margin-top: 15px;
}

.x-panel-body-default {
  background: transparent;
}

.x-dashboard-panel  {
  border-radius: 0;
}

.x-panel .x-panel-header-default-framed-top {
  background: #fff;
  border-radius: 0;
  border-bottom: 1px solid #eee;
}

.x-grid-header-ct {
  border: 0;
}

.x-panel-body-default-framed {
  border: 0;
  padding: 10px;
}

.x-column-header-last {
  border: 0;
}

.x-panel-default-framed {
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.x-panel-header-default-framed {
  border: 0;
}

.x-panel-header-title-default-framed {
  font-family: 'Clear Sans';
  color: #2f4050;
  font-weight: 500;
  font-size: 16px;
}

.x-column-header {
  font-family: 'Clear Sans';
  font-weight: 500;
}

.x-grid-item {
  font-family: 'Clear Sans';
}

.x-toolbar-footer {
  background: none;
}

.full-button {
  padding: 5px;
  background-color: #0ab4da;
  border: 0;
}

.full-button span {
  font-family: 'Clear Sans';
  font-weight: 500;
  font-size: 14px;
}

.outer {
  color: #2e3537;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  background: #fff;
  text-transform: uppercase;
}

.outer span{
  margin: 0 5px;
}

.outer span:nth-child(2) {
  background: #2e3537;
  padding: 4px 5px;
  color: #fff;
  margin: 0;
  border-radius: 0 3px 3px 0;
  border: 1px solid #fff;
  line-height: normal;
}

/*Icon action column record in grid*/
.x-action-col-glyph {
  font-size:18px;
  line-height:16px;
  color:#000000;
  width:20px;
  margin-right:2px;
}
.x-action-col-glyph:hover{
  color:rgb(21, 127, 204)
}

.x-action-col-trash {
  font-size:18px;
  line-height:16px;
  color:rgb(255, 0, 0);
  width:20px;
  margin-right:2px;
}
.x-action-col-trash:hover{
  color:rgb(255, 0, 0)
}
