@import url(http://webfonts.ru/import/clearsans.css);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

@font-face {
  font-family: 'DIN-Pro';
  src: url(../fonts/DINPro-Bold_13934.ttf);
}

html, body {
  font-family: 'Clear Sans';
}

body.x-border-layout-ct, div.x-border-layout-ct {
  background: #fafafa;
}

.x-btn-inner-default-toolbar-small {
  font-family: 'Clear Sans';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.x-btn-default-toolbar-small {
  background-color: transparent;
  border: 0;
}

.x-btn-default-toolbar-small:hover {
  background-color: transparent;
  border: 0;
}

.x-btn-icon-el-default-toolbar-small.x-btn-glyph {
  opacity: 1;
  color:#fff;
}

.label-system {
  font-size: 36px;
  font-family: 'DIN-Pro';
  color: #fff;
}

.main_title {
  color: rgb(10, 180, 218);
}

.button-disable .x-btn-inner {
  color:#fff;
}


.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
background: transparent;
opacity: 1;
}

.button-disable {
    cursor: default;
}

.table-list {
    padding: 20px 0;
    background: #2f4050;
    border: 0;
}

.x-panel-body-default {
  border: 0;
}

.x-view-item-focused {
  outline: 0 !important;
}

.x-panel {
  width: 215px;
}

.logout-button,
.logout-button:hover {
  border-left: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
}

.logout-button:focus,
.logout-button:active {
  background: transparent !important;
  box-shadow: none !important;
}

.x-toolbar-default {
  background: #2e3537;
  border: 0;
  padding: 0;
}

.table-list-item {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a7b1c2;
    cursor: pointer;
    font-family: 'DIN-Pro';
}

.table-list .x-item-selected, .x-item-selected:hover {
    padding: 10px 11px;
    border-left: 4px solid #ED5454;
    font-weight: bold;
    color: #fff;
    background: #293846;
}

.x-toolbar-default .x-toolbar-separator-horizontal {
  border: 1px solid #fff;
  height: 25px;
}

.panel-top {
  text-align: center !important;
  background: #ccc;
}

.table-list-item-hover {
    background-color: #5e748a;
}

.x-splitter {
  display: none;
}
