@import url(http://webfonts.ru/import/clearsans.css);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

@font-face {
  font-family: 'DIN-Pro';
  src: url(../fonts/DINPro-Bold_13934.ttf);
}

html, body {
  font-family: 'Clear Sans';
}

body.x-border-layout-ct, div.x-border-layout-ct {
  background: #EDECEC;
}

.label-system {
  font-size: 28px;
  font-family: 'DIN-Pro';
  color: #fff;
}

.main_title {
  color: rgb(10, 180, 218);
}


.button-disable {
    opacity: 1;
    cursor: default;
}

.button-disable .x-btn-inner {
    color: black;
}

.table-list {
    padding: 20px 0;
    background: #2f4050;
    border: 0;
}

.x-panel-body-default {
  border: 0;
}

.x-view-item-focused {
  outline: 0 !important;
}

.x-panel {
  width: 215px;
}

.x-toolbar-default {
  background: #2e3537;
  border: 0;
  padding: 5px 0;
}

.table-list-item {
    margin-top: 3px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    font-family: 'DIN-Pro';
    border-left: 4px solid #ED5454;
    transition: 0.3s;
}

.table-list-item:hover {
  background: rgba(37, 118, 165, 0.6);
}

.table-list .x-item-selected {
    font-weight: bold;
    color: #fff;
}

.table-list-item-hover {
    background-color: #eee;
}
